/*desktop*/
body{
background-color:#ffe6cc;
  font-size: 16px;
  color:#663300;
  font-family:'Roboto', sans-serif;
}
h1 {
  font-family: 'Righteous', cursive;
  font-weight: bold;
  font-size: 35px;
}
h2 {
  font-family: 'Righteous', cursive;
  font-weight: bold;
  font-size: 20px;
}
#container{
  text-align: center;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-areas:
  'header header header header'
  'nav nav nav nav'
  '. img img .'
  '. project1 project2 .'
  '. text1 text2 .'
  '. project3 project4 .'
  '. text3 text4 .'
  '. link link .'
  '. footer footer .'
  ;
  grid-column-gap: 10px;
  grid-row-gap:10px;
}
#contact{
  margin:14px 0;
  padding: 2px 0;
  background-color: #ffdab3;
}
#img{
  margin: 0 auto 20px auto;
  grid-area: img;
}
.nav{
    grid-area: nav;
}
#nav-list, #link, .menucontainer {
  padding:0;
  list-style-type: none;
}
#nav-list {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#nav-list li {
  border-bottom: 1px solid #fff2e6;
  font-family: 'Bree Serif', serif;
  width: 25%;
}
#nav-list a:link, #nav-list a:visited {
  display: block;
  padding: 3px;
  color: white;
  background-color: #ffa64d;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}
 #nav-list a:hover {
   color:#ffa64d;
   background-color: #ffe6cc;
 }
 #nav-list a:active {
   color: #663300;
 }
 #link{
   grid-area:link;
 }
 #link a:link, #link a:visited{
   padding: 3px;
   display: block;
   text-decoration: none;
   color: #663300;
   font-weight: bold;
   font-family: 'Bree Serif', serif;
 }
 #link a:hover {
   color:#ffa64d;
   background-color: #ffe6cc;
 }
img{
  border: none;
  height: 340px;
}
a{
  text-decoration: none;
}

.header{
  grid-area:header;
}
.footer{
  grid-area: footer;
}
#project1{
  grid-area : project1;
}
#project2{
  grid-area: project2;
}
#project3{
  grid-area: project3;
}
#project4{
  grid-area: project4;
}
#project1, #project2, #project3, #project4
{
  height: 340px;
}
#text1{
  grid-area:text1;
}
#text2{
  grid-area:text2;
}
#text3{
  grid-area:text3;
}
#text4{
  grid-area:text4;
}
/*tablet*/
@media screen and (max-width:900px) {
  #container{
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
    'header header header header'
    'nav nav nav nav'
    '. img img .'
    '. project1 text1 .'
    '. project2 text2 .'
    '. project3 text3 .'
    '. project4 text4 .'
    '. link link .'
    '. footer footer .'
    ;
    align-items: center;
  }
}

/*mobile*/
@media screen and (max-width: 500px) {
  #container{
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    'header header header'
    'nav nav nav'
    '. img .'
    '. project1 .'
    '. text1 .'
    '. project2 .'
    '. text2 .'
    '. project3 .'
    '. text3 .'
    '. project4 .'
    '. text4 .'
    '. link .'
    '. footer .'
    ;
  }
#nav-list{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#nav-list li{
  width: 100%;
}
.menucontainer li{
  margin: 0 auto;
  width: 100%;
}
.menucontainer ul a{
  text-decoration: none;
}
#contact{
  margin: 3px 0;
}
#link a:hover {
  color:#ffa64d;
  background-color: #ffe6cc;
}
#project1, #project2, #project3, #project4
{
  width: 90%;
}
}
