body{
  background-color: #ffd9cc;
}
p{
  font-size: 14px;
  color:#663300;
  font-family:'Roboto', sans-serif;
}
h1 {
  font-family: 'Righteous', cursive;
  font-weight: bold;
}
#container{
  width: 400px;
  height: 100%;
  margin:0 auto;
  text-align: center;
  background-color:#ffe6cc;
  padding: 1px 0;
  border: 2px solid black;
}
#contact{
  margin:0 0 14px 0;
  padding: 2px 0;
  background-color: #ffdab3;
}
#img{
  height: 340px;
  margin: 0 auto;
}
#nav, #link {
  padding:0;
  list-style-type: none;
}
#nav li {
  border-bottom: 1px solid #fff2e6;
  font-family: 'Bree Serif', serif;
}
#nav a:link, #nav a:visited {
  display: block;
  padding: 3px;
  color: white;
  background-color: #ffa64d;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}
 #nav a:hover {
   color:#ffa64d;
   background-color: #ffe6cc;
 }
 #nav a:active {
   color: #663300;
 }
 #link a:link, #link a:visited{
   padding: 3px;
   display: block;
   text-decoration: none;
   color: #663300;
   font-weight: bold;
   font-family: 'Bree Serif', serif;
 }
 #link a:hover {
   color:#ffa64d;
   background-color: #ffe6cc;
 }
img{
  border: none;
}
a{
  text-decoration: none;
}
